.header {
  background-color: #fff;
  padding: 8px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
  }

  &__logoWrapper {
    line-height: 1;
  }

  &__btnList {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
  }

  &__link {
    &.isActive {
      color: #007bff;
    }
  }
}
